<div class="container">
  <nav class="p-3 navbar">
  

    <ul class="nav nav-pills">
      <li *ngFor="let action of actions">
        <button (click)="setCurrentAction(action)" [class]="action==currentAction ? 'btn btn-success ms-1' : 'btn btn-outline-success ms-1'" routerLink={{action.path}}>{{action.title}}</button>
      </li>
      <li *ngIf="appState.productState.status=='LOADING'">
        <div class="spinner-border text-primary ms-5" role="status">
        </div>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li *ngIf="appState.authState.isAuthenticated==true">
        {{appState.authState.username}}
        <button class="btn btn-success" (click)="logout()">Logout</button>
      </li>
      <li *ngIf="!appState.authState.isAuthenticated">
        <button class="btn btn-success" (click)="login()">Login</button>
      </li>
    </ul>
  </nav>
</div>


